<!-- ngFor acts like a for loop -->
<div *ngFor="let item of toDoList">
  <h1>{{ item.taskName }}</h1>
</div>

 <!-- once the button is clicked it will call the openAddTaskDialog method -->
<button kendoButton (click)="openAddTaskDialog()">Add Task</button>

<!-- if the `addTaskDialogOpen variable is true then this popup will appear; if false it will not appear -->
<kendo-dialog  *ngIf="isAddTaskDialogOpen" (close)="closeAddTaskDialog()">
  <kendo-dialog-titlebar>Add New Task</kendo-dialog-titlebar>

  <form (ngSubmit)="addTask()" >
    <kendo-label for="taskName">Task Name:</kendo-label>
    <!-- [(ngModel)]="taskInput" is a two way binding  between the input field/textbox field to the taskInput property declared in my todo items component. Once the user enters in a value, the taskInput is automatically updated-->
    <kendo-textbox [(ngModel)]="taskInput" id="taskName" name="taskName" placeholder="Enter in your task here"></kendo-textbox>
    <button kendoButton type="submit">Add</button>


  </form>
</kendo-dialog>
